/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #1E1E1E !important;
}

.btn-cstm {
  background-color: #4A4A4A;
  border: none;
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 6px;
  transition: all ease 0.1s;
}
.btn-cstm:hover {
  background-color: #009688;
  color: #1E1E1E;
}

header {
  background-color: #2D2D2D;
  padding: 0px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
header a img {
  width: 5rem;
  height: 5rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
header nav ul li {
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: #B0B0B0;
}
header nav ul li a:hover {
  color: #ffffff;
}

.principal {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 30px;
}
.principal h1 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  margin-top: 30px;
}
.principal .carrusel {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}
.principal .carrusel img {
  width: 100%;
  height: 18rem;
  object-fit: contain;
  margin-top: 0;
}
.principal .carrusel img:last-child {
  display: none;
}
.principal p {
  color: #B0B0B0;
  margin: 20px 30rem;
  text-align: center;
  text-wrap: balance;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 80px;
}
section h2 {
  color: #ffffff;
  width: 100%;
  text-align: center;
}
section .texto {
  color: #B0B0B0;
  margin: 10px 20%;
  text-align: center;
  text-wrap: balance;
}

.valores div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2D2D2D;
  border-radius: 6px;
  width: 300px;
  padding: 20px;
}
.valores div i {
  color: #ffffff;
  font-size: 40px;
}
.valores div h3 {
  margin: 10px 0;
  color: #B0B0B0;
  text-align: center;
}
.valores div p {
  color: #B0B0B0;
  text-align: justify;
}

.trabajo {
  padding: 0rem 30%;
}
.trabajo p {
  white-space: pre-wrap;
  text-align: justify;
  text-wrap: balance;
}
.trabajo ol li {
  color: #B0B0B0;
  list-style: circle;
  margin-bottom: 2rem;
}
.trabajo ol li span {
  color: #fff;
  font-weight: 900;
  font-size: 1.2rem;
}

.acerca {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.acerca h1 {
  color: #ffffff;
  width: 100%;
  text-align: center;
}
.acerca .about {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.acerca .about img {
  height: 400px;
}
.acerca .about p {
  color: #B0B0B0;
  width: 500px;
  text-align: center;
  text-wrap: balance;
  white-space: pre-wrap;
}

.recomendaciones div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contacto h1 {
  color: #ffffff;
  text-align: center;
}
.contacto p {
  width: 600px;
  text-align: center;
  color: #B0B0B0;
}
.contacto input,
.contacto textarea {
  width: 500px;
  padding: 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.tecnologias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tecnologias h1 {
  color: #ffffff;
}
.tecnologias p {
  width: 600px;
  text-align: center;
  color: #B0B0B0;
}

.experiencia {
  display: flex;
}
.experiencia .container, .experiencia .container-2 {
  width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
}
.experiencia .container img, .experiencia .container-2 img {
  width: 200px;
}
.experiencia .container .texto-info, .experiencia .container-2 .texto-info {
  width: 500px;
}
.experiencia .container .texto-info p, .experiencia .container-2 .texto-info p {
  color: #B0B0B0;
  text-align: justify;
  text-wrap: balance;
}
.experiencia .container-2 {
  flex-direction: row-reverse;
}

.proyectos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proyectos h1 {
  color: #ffffff;
  text-align: center;
}
.proyectos p {
  width: 600px;
  text-align: center;
  color: #B0B0B0;
}

.portafolio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.portafolio a {
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4A4A4A;
  border-radius: 6px;
  width: 500px;
  cursor: pointer;
  text-decoration: none;
}
.portafolio a img {
  width: 300px;
}
.portafolio a h2 {
  margin: 15px 0;
}
.portafolio a p {
  color: #B0B0B0;
  text-align: justify;
  padding: 0 3rem;
  text-wrap: balance;
}

footer {
  background-color: #2D2D2D;
  padding: 20px 0;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer nav ul li {
  list-style: none;
}
footer nav ul li a {
  color: #B0B0B0;
  text-decoration: none;
}
footer nav ul li a:hover {
  color: #ffffff;
}
footer div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer div i {
  color: #B0B0B0;
  font-size: 20px;
}
footer div i:hover {
  color: #ffffff;
}
footer .derechos {
  width: 100%;
  justify-content: center;
  margin-top: 10px;
  color: #ffffff;
}

@media (max-width: 992px) {
  header {
    padding: 0px 50px;
  }
  header nav ul {
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  header nav ul li {
    list-style: none;
    text-decoration: solid underline 1px #fff;
  }
  .principal .carrusel {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 3rem;
  }
  .principal .carrusel img {
    width: 100%;
    display: block;
  }
  .principal .carrusel img:first-child,
  .principal .carrusel img:last-child {
    display: none;
  }
  .principal p {
    color: #B0B0B0;
    margin: 20px 40px;
    padding: 0 0;
    text-align: center;
    text-wrap: balance;
  }
  section .texto {
    color: #B0B0B0;
    margin: 10px 40px;
    text-align: center;
    text-wrap: balance;
  }
  .valores div {
    width: 200px;
  }
  .experiencia .container {
    flex-direction: column;
  }
  .experiencia .container-2 {
    flex-direction: column;
  }
}
@media (max-width: 576px) {
  header {
    padding: 0px 50px;
  }
  header nav ul {
    flex-direction: wrap;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
  }
  .valores {
    display: flex;
    flex-direction: column;
  }
  .valores div {
    width: 250px;
  }
  .trabajo {
    padding: 0rem 10%;
  }
  .acerca .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  .acerca .about p {
    color: #B0B0B0;
    width: 300px;
    text-align: center;
    text-wrap: balance;
    white-space: pre-wrap;
  }
  .boton-mas button {
    color: #ffffff;
    background-color: #4A4A4A;
  }
  .boton-mas button:hover {
    background-color: #009688;
  }
  .tecnologias p {
    width: 300px;
    text-align: center;
    color: #B0B0B0;
  }
  .experiencia .container .texto-info {
    width: 300px;
  }
  .experiencia .container-2 .texto-info {
    width: 300px;
  }
  .proyectos p {
    width: 300px;
    text-align: center;
    color: #B0B0B0;
  }
  .contacto p {
    width: 300px;
    text-align: center;
    color: #B0B0B0;
  }
  .contacto input {
    width: 300px;
  }
  .contacto textarea {
    width: 300px;
  }
  .contacto button {
    background-color: #4A4A4A;
    color: #ffffff;
    border: none;
  }
  .contacto button:hover {
    background-color: #009688;
  }
  .about {
    display: wrap;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=main.css.map */
