<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Acerca de mi</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a href="../index.html"><img src="../img/logo-forma-removebg-preview.png" alt=""></a>
        <!-- Menu de Navegacion Header -->
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../views/about.html">Sobre mi</a>
                </li>
                <li>
                    <a href="../views/info.html">Tecnologias</a>
                </li>
                <li>
                    <a href="../views/proyects.html">Proyectos</a>
                </li>
                <li>
                    <a href="../views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin del Menu de Navegacion Header -->
    </header>
    <!-- Fin del Header -->

    <!-- Acerca de mi -->
    <section class="acerca">
        <h1>Acerca de mi</h1>
        <div class="about">
            <img src="../img/persona.webp" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi quam, fuga mollitia vitae impedit maxime,
                iste
                architecto quo, voluptas ratione vel delectus ut magnam dolores vero! Asperiores, aliquid quibusdam
                ducimus
                officia cum culpa reiciendis earum possimus similique mollitia nostrum architecto distinctio quia
                aperiam
                molestias expedita sint alias ipsam vel reprehenderit!</p>
        </div>
    </section>
    <!-- Fin Acerca de mi -->

    <!-- Seccion recomendaciones -->
    <section class="recomendaciones">
        <h2>Recomendaciones</h2>
        <div>
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/1IHlSMCdeHwVOh0jv3hJrD?utm_source=generator" width="280px"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/3GWvRSaJHkIIKZSVGeW5p2?utm_source=generator" width="280px"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/37i9dQZF1EIWqSrfwW8NAh?utm_source=generator" width="280px"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            <iframe style="border-radius:12px"
                src="https://open.spotify.com/embed/playlist/5sPzNVd9MbUwmWd2mA90qB?utm_source=generator" width="280px"
                height="352" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
    </section>
    <!-- Fin Seccion recomendaciones -->

    <!-- Footer -->
    <footer>
        <!-- Menu Navegacion Footer -->
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Sobre mi</a>
                </li>
                <li>
                    <a href="">Tecnologias</a>
                </li>
                <li>
                    <a href="">Proyectos</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin Menu Navegacion Footer -->

        <!-- div redes sociales -->
        <div>
            <a href="https://www.linkedin.com/in/mauricio-avalos-314379258/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/luis.avalosfuentes" target="_blank"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.tiktok.com/@elmauavalos" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/MauricioAvalosF" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <!-- din div redes sociales -->

        <div class="derechos">Todos los derechos reservados</div>
    </footer>
    <!-- Fin del Footer -->
</body>

</html>