<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Informacion</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a href="../index.html"><img src="../img/logo-forma-removebg-preview.png" alt=""></a>
        <!-- Menu de Navegacion Header -->
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../views/about.html">Sobre mi</a>
                </li>
                <li>
                    <a href="../views/info.html">Tecnologias</a>
                </li>
                <li>
                    <a href="../views/proyects.html">Proyectos</a>
                </li>
                <li>
                    <a href="../views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin del Menu de Navegacion Header -->
    </header>
    <!-- Fin del Header -->

    <!-- TEconologias -->
    <section class="tecnologias">
        <h1>Tecnologia y experiencia</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed nisi obcaecati architecto laborum nam quisquam
            modi explicabo eaque doloribus quam.</p>
    </section>

    <section class="experiencia">
        <div class="container">
            <img src="../img/Laravel.svg.png" alt="">
            <div class="texto-info">
                <h2>Tecnologia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic mollitia quo nemo cupiditate
                    soluta
                    possimus temporibus voluptatibus molestias deserunt autem optio blanditiis quos minima, suscipit a
                    perspiciatis velit vel dolorum, debitis corporis? Vitae assumenda consequuntur, aspernatur vel sed
                    ut,
                    quam, debitis vero qui autem fugiat eos consectetur natus sapiente?</p>
            </div>
        </div>
        <div class="container-2">
            <img src="../img/Laravel.svg.png" alt="">
            <div class="texto-info">
                <h2>Tecnologia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic mollitia quo nemo cupiditate
                    soluta
                    possimus temporibus voluptatibus molestias deserunt autem optio blanditiis quos minima, suscipit a
                    perspiciatis velit vel dolorum, debitis corporis? Vitae assumenda consequuntur, aspernatur vel sed
                    ut,
                    quam, debitis vero qui autem fugiat eos consectetur natus sapiente?</p>
            </div>
        </div>
        <div class="container">
            <img src="../img/Laravel.svg.png" alt="">
            <div class="texto-info">
                <h2>Tecnologia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic mollitia quo nemo cupiditate
                    soluta
                    possimus temporibus voluptatibus molestias deserunt autem optio blanditiis quos minima, suscipit a
                    perspiciatis velit vel dolorum, debitis corporis? Vitae assumenda consequuntur, aspernatur vel sed
                    ut,
                    quam, debitis vero qui autem fugiat eos consectetur natus sapiente?</p>
            </div>
        </div>
        <div class="container-2">
            <img src="../img/Laravel.svg.png" alt="">
            <div class="texto-info">
                <h2>Tecnologia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam hic mollitia quo nemo cupiditate
                    soluta
                    possimus temporibus voluptatibus molestias deserunt autem optio blanditiis quos minima, suscipit a
                    perspiciatis velit vel dolorum, debitis corporis? Vitae assumenda consequuntur, aspernatur vel sed
                    ut,
                    quam, debitis vero qui autem fugiat eos consectetur natus sapiente?</p>
            </div>
        </div>
    </section>
    <!-- Fin TEconologias -->


    <!-- Footer -->
    <footer>
        <!-- Menu Navegacion Footer -->
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Sobre mi</a>
                </li>
                <li>
                    <a href="">Tecnologias</a>
                </li>
                <li>
                    <a href="">Proyectos</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin Menu Navegacion Footer -->

        <!-- div redes sociales -->
        <div>
            <a href="https://www.linkedin.com/in/mauricio-avalos-314379258/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/luis.avalosfuentes" target="_blank"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.tiktok.com/@elmauavalos" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/MauricioAvalosF" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <!-- din div redes sociales -->

        <div class="derechos">Todos los derechos reservados</div>
    </footer>
    <!-- Fin del Footer -->
</body>

</html>