<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Proyectos</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a href="../index.html"><img src="../img/logo-forma-removebg-preview.png" alt=""></a>
        <!-- Menu de Navegacion Header -->
        <nav>
            <ul>
                <li>
                    <a href="../index.html">Home</a>
                </li>
                <li>
                    <a href="../views/about.html">Sobre mi</a>
                </li>
                <li>
                    <a href="../views/info.html">Tecnologias</a>
                </li>
                <li>
                    <a href="../views/proyects.html">Proyectos</a>
                </li>
                <li>
                    <a href="../views/contact.html">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin del Menu de Navegacion Header -->
    </header>
    <!-- Fin del Header -->

    <!-- Proyectos -->
    <section class="proyectos">
        <h1>Mi Portafolio</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo odit tenetur, assumenda facere vitae, quia
            eveniet natus, dicta id aut veritatis. Ipsam cumque modi tempora esse! Blanditiis molestias voluptas maxime
            ducimus nostrum!</p>
    </section>

    <section class="portafolio">
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
        <div>
            <img src="../img/pagina.jpeg" alt="">
            <h2>Proyecto</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati mollitia aspernatur iusto modi
                necessitatibus. Voluptates mollitia rem laboriosam commodi quaerat.</p>
        </div>
    </section>
    <!-- FinProyectos -->

    <!-- Footer -->
    <footer>
        <!-- Menu Navegacion Footer -->
        <nav>
            <ul>
                <li>
                    <a href="">Home</a>
                </li>
                <li>
                    <a href="">Sobre mi</a>
                </li>
                <li>
                    <a href="">Tecnologias</a>
                </li>
                <li>
                    <a href="">Proyectos</a>
                </li>
                <li>
                    <a href="">Contacto</a>
                </li>
            </ul>
        </nav>
        <!-- Fin Menu Navegacion Footer -->

        <!-- div redes sociales -->
        <div>
            <a href="https://www.linkedin.com/in/mauricio-avalos-314379258/" target="_blank"><i
                    class="fa-brands fa-linkedin"></i></a>
            <a href="https://www.facebook.com/luis.avalosfuentes" target="_blank"><i
                    class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.tiktok.com/@elmauavalos" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://github.com/MauricioAvalosF" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        <!-- din div redes sociales -->

        <div class="derechos">Todos los derechos reservados</div>
    </footer>
    <!-- Fin del Footer -->
</body>

</html>