@import "../utilidades/mixing";
@import "../utilidades/variables";

// Estilos generales
body {
    background-color: #1E1E1E !important;
  }
  
  // Botones personalizados
  .btn-cstm {
    background-color: #4A4A4A;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 6px;
    transition: all ease 0.1s;
    
    &:hover {
      background-color: #009688;
      color: #1E1E1E;
    }
  }
  
  // Header y navegación
  header {
    background-color: #2D2D2D;
    padding: 0px 80px;
    @include flex-center(row, space-between, center);
    margin-bottom: 3rem;
    
    a img {
      width: 5rem;
      height: 5rem;
    }
  
    nav ul {
      @include flex-center(row);
      gap: 35px;
      
      li {
        list-style: none;
  
        a {
          text-decoration: none;
          color: #B0B0B0;
  
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  }
  
  // Estilos principales
  .principal {
    @include grid-center(1fr);
    gap: 30px;
  
    h1 {
      width: 100%;
      color: #ffffff;
      text-align: center;
      margin-top: 30px;
    }
  
    .carrusel {
      @include flex-center(row, space-evenly, center);
      width: 100%;
      margin-top: 3rem;
  
      img {
        width: 100%;
        height: 18rem;
        object-fit: contain;
        margin-top: 0;
  
        &:last-child {
          display: none;
        }
      }
    }
  
    p {
      color: #B0B0B0;
      margin: 20px 30rem;
      text-align: center;
      text-wrap: balance;
    }
  }
  
  // Sección de Valores
  section {
    @include flex-center(row, center, center);
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 80px;
  
    h2 {
      color: #ffffff;
      width: 100%;
      text-align: center;
    }
  
    .texto {
      color: #B0B0B0;
      margin: 10px 20%;
      text-align: center;
      text-wrap: balance;
    }
  }

  .valores div {
    @include flex-center(column);
    background-color: #2D2D2D;
    border-radius: 6px;
    width: 300px;
    padding: 20px;

    i {
      color: #ffffff ;
      font-size: 40px;
    }

    h3 {
      margin: 10px 0;
      color: #B0B0B0;
      text-align: center;
    }

    p {
      color: #B0B0B0;
      text-align: justify;
    }
  }
  
  // Sección de trabajo
  .trabajo {
    padding: 0rem 30%;
  
    p {
      white-space: pre-wrap;
      text-align: justify;
      text-wrap: balance;
    }
  
    ol li {
      color: #B0B0B0;
      list-style: circle;
      margin-bottom: 2rem;
  
      span {
        color: #fff;
        font-weight: 900;
        font-size: 1.2rem;
      }
    }
  }
  
  // Sección About
  .acerca {
    @include flex-center(row, center, center);
    flex-wrap: wrap;
  
    h1 {
      color: #ffffff;
      width: 100%;
      text-align: center;
    }
  
    .about {
      @include flex-center(row, center, center);
      margin-top: 40px;
  
      img {
        height: 400px;
      }
  
      p {
        color: #B0B0B0;
        width: 500px;
        text-align: center;
        text-wrap: balance;
        white-space: pre-wrap;
      }
    }
  }
  
  // Recomendaciones
  .recomendaciones div {
    @include flex-center(row, center, center);
    flex-wrap: wrap;
    gap: 20px;
  }
  
  // Contacto
  .contacto {
    @include flex-center(column, center, center);
  
    h1 {
      color: #ffffff;
      text-align: center;
    }
  
    p {
      width: 600px;
      text-align: center;
      color: #B0B0B0;
    }
  
    input,
    textarea {
      width: 500px;
      padding: 1rem;
      border-radius: 6px;
      margin-bottom: 1rem;
    }
  }
  
  // Tecnologías
  .tecnologias {
    @include flex-center(column, center, center);
  
    h1 {
      color: #ffffff;
    }
  
    p {
      width: 600px;
      text-align: center;
      color: #B0B0B0;
    }
  }
  .experiencia {
    display: flex;
  
    & .container,
    & .container-2 {
      width: 900px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 30px;
      cursor: pointer;
  
      & img {
        width: 200px;
      }
  
      .texto-info {
        width: 500px;
  
        p {
          color: #B0B0B0;
          text-align: justify;
          text-wrap: balance;
        }
      }
    }
  
    .container-2 {
      flex-direction: row-reverse;
    }
  }
  
  
  
  // Proyectos
  .proyectos {
    @include flex-center(column, center, center);
  
    h1 {
      color: #ffffff;
      text-align: center;
    }
  
    p {
      width: 600px;
      text-align: center;
      color: #B0B0B0;
    }
  }

  .portafolio {
    @include flex-center(row, center, center);
    flex-wrap: wrap;

    a {
      min-height: 30rem;
      @include flex-center(column, center, center);
      background-color: #4A4A4A;
      border-radius: 6px;
      width: 500px;
      cursor: pointer;
      text-decoration: none;

      img {
        width: 300px;
      }

      h2 {
        margin: 15px 0;
      }

      p {
        color: #B0B0B0;
        text-align: justify;
        padding: 0 3rem;
        text-wrap: balance;
      }
    }
  }
  
  // Footer
  footer {
    background-color: #2D2D2D;
    padding: 20px 0;
    margin-top: 30px;
    @include flex-center(row, space-around, center);
    flex-wrap: wrap;
  
    nav ul {
      @include flex-center(column);
      gap: 5px;
  
      li {
        list-style: none;
  
        a {
          color: #B0B0B0;
          text-decoration: none;
  
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
  
    div {
      @include flex-center(row);
      gap: 20px;
  
      i {
        color: #B0B0B0;
        font-size: 20px;
  
        &:hover {
          color: #ffffff;
        }
      }
    }
  
    .derechos {
      width: 100%;
      justify-content: center;
      margin-top: 10px;
      color: #ffffff;
    }
  }

  // Media Queries
@media (max-width: 992px) {
    header {
        padding: 0px 50px;
    }

    header nav ul {
        flex-direction: wrap;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    header nav ul li {
        list-style: none;
        text-decoration: solid underline 1px #fff;
    }

    .principal .carrusel {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        width: 100%;
        margin-top: 3rem;
    }

    .principal .carrusel img {
        width: 100%;
        display: block;
    }

    .principal .carrusel img:first-child,
    .principal .carrusel img:last-child {
        display: none;
    }

    .principal p {
        color: #B0B0B0;
        margin: 20px 40px;
        padding: 0 0;
        text-align: center;
        text-wrap: balance;
    }

    section .texto {
        color: #B0B0B0;
        margin: 10px 40px;
        text-align: center;
        text-wrap: balance;
    }

    .valores div {
        width: 200px;
    }

    .experiencia .container {
        flex-direction: column;
    }

    .experiencia .container-2 {
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    header {
        padding: 0px 50px;
    }

    header nav ul {
        flex-direction: wrap;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .about {
        display: wrap;
        flex-wrap: wrap;
    }
}