//Variables de mi CSS
$background-dark: #1E1E1E;
$background-light: #2D2D2D;
$primary-color: #4A4A4A;
$hover-color: #009688;
$text-color: #B0B0B0;
$white-color: #ffffff;
$font-family: "Roboto", sans-serif;
$border-radius: 6px;